<p id="notice"><%= notice %></p>


<% if @user != current_user %>
  <h3><%= @user.name %></h3>
<% end %>
<h4 class="margin-top-large">Owned Items (Requested: <%= @user.my_requested_items.size %> / 
  Lent out: <%= @user.my_loaned_items.size %> / 
  Available Items: <%= @user.my_available_items.size %>)
</h4>


<table class="table table-bordered table-striped table-hover table-condensed">
  <thead>
    <tr>
      <th>Title</th>
      <th>Status</th>
      <th>Other User</th>
      <th>Date</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @user.my_requested_items.each do |item| %>
      <tr>
        <td><%= link_to item.name, user_item_path(@user.id, item.id) %></td>
        <td>Requested</td>
        <td><% if current_user == @user || current_user == item.loans.last.user %> <!-- hides names that are not the user's -->
          by <%= link_to item.loans.last.user.name, user_path(item.loans.last.user) %>
          <% end %>
        </td>
        <td>on <%= item.loans.last.created_at.strftime("%h %d") %></td>
        <td>
          <% if current_user == @user %>
            <div><%= button_to "Mark 'lent out'", approve_loan_path(@user.id, item.id) %></div>
            <div><%= button_to "Deny", deny_loan_path(@user.id, item.id) %></div>
          <% elsif current_user == item.loans.last.user %>
            <%= button_to "Cancel Request", deny_loan_path(@user.id, item.id)  %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% @user.my_loaned_items.each do |item| %>
      <tr>
        <td><%= link_to item.name, user_item_path(@user.id, item.id) %></td>
        <td>Lent out</td>
        <td><% if current_user == @user || current_user == item.loans.last.user %> <!-- hides names that are not the user's -->
          to <%= link_to item.loans.last.user.name, item.loans.last.user %>
          <% end %>
        </td>
        <td>on <%= item.loans.last.created_at.strftime("%h %d") %></td>
        <td><% if current_user == @user %>
          <%= button_to "Mark 'Available'", return_loan_path(@user.id, item.id), data: { confirm: 'Are you sure? This cannot be undone.' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
    <% @user.my_available_items.each do |item| %>
      <tr>
        <td><%= link_to item.name, user_item_path(@user.id, item.id) %></td>
        <td>Available</td>
        <td></td>
        <td></td>
        <td><% if current_user && current_user != @user %>
          <%= button_to "Request to Borrow", request_loan_path(current_user, item.id) %> 
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= button_to 'Add New Item', new_user_item_path(@user) %>

<br>
<% if @user != current_user %>
  <h4>Borrowing Items  (Total borrowing: <%= @user.currently_borrowing.size %> / Total waiting: <%= @user.currently_requesting.size %>)</h4>
<% else %>
<h4 class="margin-top-large">Borrowing Items  (Total borrowing: <%= @user.currently_borrowing.size %> / 
    Total waiting: <%= @user.currently_requesting.size %>)
</h4>

  <table class="table table-bordered table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Title</th>
        <th>Status</th>
        <th>Other User</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @user.currently_borrowing.each do |loan|%>
        <tr>
          <td><%= link_to loan.item.name, user_item_path(loan.item.user_id, loan.item_id) %></td>
          <td>Borrowing</td>
          <td>from <%= link_to loan.item.user.name, loan.item.user %></td>
          <td>since <%= loan.created_at.strftime("%h %d") %></td>
          <td></td>
        </tr>
      <% end %>
      <% @user.currently_requesting.each do |loan|%>
        <tr>
          <td><%= link_to loan.item.name, user_item_path(loan.user.id, loan.item.id) %></td>
          <td>Waiting for loan</td>
          <td>from <%= link_to loan.item.user.name, user_path(loan.item.user) %></td>
          <td>since <%= loan.created_at.strftime("%h %d") %></td>
          <td><% if current_user == @user %>
            <%= button_to "Cancel Request", deny_loan_path(loan.user.id, loan.item.id)  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>


<h4><br>
  Memberships (<%= @user.groups.size %>)
  <% @user.groups.each do |g|%>
    <li><%= link_to g.name, g %></li>
  <% end %>
</h4>
