<p id="notice"><%= notice %></p>
<h3><%= @user.name %></h3>

<div>
  <h4>Currently Borrowing</h4>
  <ul>
  <% @user.currently_borrowing.each do |loan|%>
    <li><%= link_to loan.item.name, user_item_path(loan.item.user_id, loan.item_id) %> 
      from <%= link_to loan.item.user.name, loan.item.user %>
    </li>
  <% end %>
  </ul>
</div>

<div> 
  <h4>Items <%= @user.name %>'s Requested </h4>
  <ul>
  <% @user.currently_requesting.each do |loan|%>
    <li><%= loan.user.name %> requested <%= link_to loan.item.name, user_item_path(loan.user.id, loan.item.id) %> on <%= loan.created_at.strftime("%h %d") %>
      <% if current_user == @user %>
        <%= button_to "Cancel Request", deny_loan_path(loan.user.id, loan.item.id)  %>
      <% end %>
    </li>
  <% end %>
  </ul>


</div>
<div>
  <h4>Requested Pending <%= @user.name %>'s Approval</h4>
  <ul>
  <% @user.my_requested_items.each do |item|%>
    <li><%= item.loans.last.user.name %> wants <%= link_to item.name, user_item_path(@user.id, item.id) %> 
      <% if current_user == @user %>
        <%= button_to "Approve", approve_loan_path(@user.id, item.id) %>
        <%= button_to "Deny", deny_loan_path(@user.id, item.id) %>
      <% elsif current_user == item.loans.last.user %>
        <%= button_to "Cancel Request", deny_loan_path(@user.id, item.id)  %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<div>
  <h4>Items Currently Loaned Out</h4>
  <ul>
  <% @user.my_loaned_items.each do |item|%>
    <li><%= link_to item.name, user_item_path(@user.id, item.id) %> 
      to <%= link_to item.loans.last.user.name, item.loans.last.user %>
      <% if current_user == @user %>
        <%= button_to "Mark Returned", return_loan_path(@user.id, item.id), data: { confirm: 'Are you sure?' } %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<div>
  <h4>Your Available Items</h4>
  <ul>
  <% @user.my_available_items.each do |item|%>
    <li><%= link_to item.name, user_item_path(@user.id, item.id) %>
      <% if current_user && current_user != @user %>
        <%= button_to "Request to Borrow", request_loan_path(current_user, item.id) %> 
      <% end %>
    </li>
  <% end %>
  </ul>
</div>

<%= link_to 'List a New Item', new_user_item_path(@user) %>

<div>
  <h4>Your Groups</h4>
  <ul>
  <% @user.groups.each do |g|%>
    <li><%= link_to g.name, g %></li>
  <% end %>
  </ul>
</div>
