<p id="notice"><%= notice %></p>
<h3><%= @item.name %> - <%= @item.type_list %></h3>
<h4>Tags: <%= @item.tag_list %></h4>

<h4> History: </h4>
<% @item.loans.each do |loan| %>
  <li>
    <%= "Borrowed on #{loan.borrowed_on}" if loan.borrowed_on %>
  </li>
  <li>
    <%= "Returned on #{loan.returned_on}" if loan.returned_on %>
  </li>
<% end %>

<h4>  Description:      </h4>
<div><%= @item.description  %></div>

<%= link_to 'Edit', edit_user_item_path(@user, @item) %> |
<%= link_to 'Back', user_path(@user) %>
 