<!DOCTYPE html>
<html>
<head>
  <title>Mybrary</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="user-widget">
  <% if current_user %>
    <strong><%= link_to current_user.name, edit_user_path(current_user.id) %></strong> | 
    <%= link_to "Admin", users_path %> | 
    <%= link_to "Home", current_user %> | 
    <%= link_to 'Groups', groups_path %> | 
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %>
  <% end %>
</div>



<!-- Filter/Search will have -->
<!-- Categories checkbox -->
<!-- Groups checkbox -->
<!-- Search bar that outputs all titles with the tag and/or titles themselves -->


<%= yield %>

</body>
</html>
